/*************************
GENERAL
*************************/

body {
    background-color: #2d2d2d;
    max-width: 100%;
    font-family: 'Roboto Mono', 'Helvetica Nueue', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #fff;
    text-align: center;
    padding: 0 10px 0 20px;
    line-height: 1.25;
}

section {
    width: 60%;
    margin: 0 10% 0 10%;
}

/*************************
NAVIGATION
*************************/

/*nav {*/
/*  text-align: center;*/
/*  padding: 10px 0;*/
/*  margin: 20px 0 0;*/
/*}*/

/*nav ul {*/
/*  list-style: none;*/
/*  margin: 0 10px 0 10px;*/
/*  padding: 0;*/
/*}*/

/*nav li {*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    margin: 5% 0 5%;*/
/*    padding: 20px;*/
/*    list-style: none;*/
/*}*/

a:hover {
    color: #ccc;
}

i:hover {
    color: #ccc;
}



/*************
HEADER
**************/

header {
    float: left;
    box-sizing: border-box;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

.logos {
    width: auto;
    height: 65px;
    margin: auto;
    max-width: 100%;
}




/*************
FOOTER
**************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #fff;
}

i {
    color: #fff;
    padding: 10px 20px;
    margin: 2.5%;
    display: inline-block;
}
