/*************************
GENERAL
*************************/
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,700,100,100italic);

body {
    background-color: #2d2d2d;
    max-width: 100%;
    font-family: 'Roboto Mono', 'Helvetica Nueue', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #fff;
    text-align: center;
    padding: 0 10px 0 20px;
    line-height: 1.25;
}

.main-content {
    width: 75%;
    margin: auto;
    max-width: 600px;
}

/*************************
NAVIGATION
*************************/

/*nav {
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px 0 10px;
  padding: 0;
}

nav li {
    text-decoration: none;
    display: inline-block;
    margin: 5% 0 5%;
    padding: 20px;
    list-style: none;
  }

nav a:hover {
  border-bottom: 2px solid #ccc;
}*/

a:hover {
    color: #c9ac5f;
}

#callout:hover {
  color: #c9ac5f;
  /*border: 2px solid #c9ac5f;*/
  max-width: 145px;
  margin: auto;
}

/*i:hover {
    color: #c9ac5f;
}*/

.social:hover {
  color: #c9ac5f;
}

/*#logos:hover {
    background-image: url(..img/StillUpMySleeve-logo.png);
  }*/



/*************
HEADER
**************/

header {
    float: left;
    box-sizing: border-box;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

#logos {
    width: auto;
    height: 65px;
    margin: auto;
    max-width: 100%;
}

#callout {
  font-size: 1.125em;
  margin: auto;
}


/*************
FOOTER
**************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #fff;
}

/*i {
    color: #fff;
    padding: 10px 20px;
    margin: 2.5%;
    display: inline-block;
}*/

.social {
  color: #fff;
  padding: 10px 20px;
  margin: 2.5%;
  display: inline-block;
}

.copyright {
    color:#c9ac5f;
}
